%nav
  %ul
    - @docs['classes'].each do |key, cls|
      %li
        %a{href: "#"+key}
          %div{class: "icon-#{cls['icon']}"}
          = key
    %li.right
      %a{href:"#main"} Crystal
.content
  .class#main
    .panel
      .btn-circle
        .icon-github
        .tooltip
          Source at Github
      .btn-circle
        .icon-download
        .tooltip
          Download
  .clear
  - @docs['classes'].each do |key, cls|
    .class{id: key}
      .panel
        %h2
          %div{class: "icon-#{cls['icon']}"}
          = key
        %p
          = cls['description']
      - cls['methods'].each do |method|
        .method
          %pre
            %code.coffee.prettyprint
              = method["example"]
          %code.js
            - begin
              = CoffeeScript.compile method["example"], bare: true
            - rescue
              = ""
          %h3
            %span{class: method['type']}= @types[method['type']]
            = method['name']
          %p
            = method['description']
          .clear
          .icon-link
          .icon-play